*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mainContainer{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:12rem 1fr ;
    grid-template-rows: 10rem 1fr;
    grid-template-areas: 
    "sidebar navbar"
    "sidebar mainContent"
    ;
}
.sidebar{
    background-color: #1e90FF;
}
.content{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.navbar{
    background-color: white;
}
.mainContent{
    background-color: #c0c0c0;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
svg{
    display:flex ;
    justify-content: center;
    align-items: center;
    fill: white;
    height: 1.5rem;
    width: 1.5rem;
}
h2{
    color: white;
}
h4{
    color: white;
}
a{
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    gap: 0.8rem;
    margin-top: 0.5rem;

}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dashboard{
    height: 2.5rem;
    width: 2.5rem;
}
.icon{
    fill: black;
}
.top-nav{
    display: grid;
    grid-auto-flow: column;
}
.search{
    display: flex;
    gap: 0.4rem;
    margin: 1rem 2rem;
}
.bell{
    display: flex;
    gap: 1.5rem;
    margin: 1rem 2rem;
}
.inpt{
    width: 30rem;
    border: none;
    background-color: rgb(120, 120, 110);
    border-radius: 15px;
    color: white;

}
.hart{
    fill: black;
    height: 2.5rem;
    width: 2.5rem;
}
.down-nav{
    display:grid;
    grid-auto-flow: column;
}
.left{
    display: flex;
    align-items: center;
    margin: 1rem 2rem;
    gap: 0.6rem;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
button{
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 15px;
    background-color: #1e90FF;
    color: white;
}
img{
    height: 5px;
    width: 5px;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr ;
}
